// @import '~node_modules/modern-normalize/modern-normalize.css';

html {
    scroll-behavior: smooth;
}

body {
    color: $white;
    font-family: $font-main;
    font-weight: $font-weight-major;
    font-size: $font-size-major-mobile;
    line-height: 1.6;

    overflow-x: hidden;
    scrollbar-gutter: stable both-edges;

    @media screen and (min-width: $tablet) {
        font-size: $font-size-major;
    }

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-style: normal;
    color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    display: inline-flex;
    padding: 0;
    margin: 0;
    align-items: center;

    border: none;
    background: none;
    cursor: pointer;
}

.container--centred-content {
    @media screen and (min-width: $tablet) {
        padding: 0 32px;
    }

    @media screen and (min-width: $desktop) {
        padding: 0 28px;
    }
}