// Colors
$white: #ffffff;
$main-dark: #333333;
$text-grey: #808080;
$background: #f4f4f4;
$accent-green: #28a745;
$blue-accent: #0284d0;
$warning: #cd0404;

//Fonts
$font-main: 'Open Sans', sans-serif;
$font-weight-major: 400;
$font-weight-minor: 300;
$font-size-major: 18px;
$font-size-major-mobile: 16px;

// Devices
$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;