<section class="cases" id="cases">
    <div class="cases__container">
        <p class="cases__subtitle">This is what we do</p>
        <h2 class="cases__title">Business Cases</h2>
        <p class="cases__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
        </p>

        <ul class="cases__cards">
            <li class="cases__cards-item first-card">
                <a href="images/cases/cases1@2x.jpg">
                    <picture>
                        <source srcset="images/cases/cases1.webp 1x, images/cases/cases1@2x.webp 2x" type="image/webp" />
                        <source srcset="images/cases/cases1.jpg 1x, images/cases/cases1@2x.jpg 2x" type="image/jpeg" />
                        <img src="images/cases/cases1.jpg" alt="people meeting" />
                    </picture>
                </a>
            </li>
            <li class="cases__cards-item second-card">
                <a href="images/cases/cases3@2x.jpg">
                    <picture>
                        <source srcset="images/cases/cases3.webp 1x, images/cases/cases3@2x.webp 2x" type="image/webp" />
                        <source srcset="images/cases/cases3.jpg 1x, images/cases/cases3@2x.jpg 2x" type="image/jpeg" />
                        <img src="images/cases/cases3.jpg" alt="notes" />
                    </picture>
                </a>
            </li>
            <li class="cases__cards-item third-card">
                <a href="images/cases/cases5@2x.jpg">
                    <picture>
                        <source srcset="images/cases/cases5.webp 1x, images/cases/cases5@2x.webp 2x" type="image/webp" />
                        <source srcset="images/cases/cases5.jpg 1x, images/cases/cases5@2x.jpg 2x" type="image/jpeg" />
                        <img src="images/cases/cases5.jpg" alt="handshake" />
                    </picture>
                </a>
            </li>
            <li class="cases__cards-item fourth-card">
                <a href="images/cases/cases6@2x.jpg">
                    <picture>
                        <source srcset="images/cases/cases7.webp 1x, images/cases/cases7@2x.webp 2x" type="image/webp" />
                        <source srcset="images/cases/cases7.jpg 1x, images/cases/cases7@2x.jpg 2x" type="image/jpeg" />
                        <img src="images/cases/cases7.jpg" alt="people hands" />
                    </picture>
                </a>
            </li>
            <li class="cases__cards-item fifth-card">
                <a href="images/cases/cases2@2x.jpg">
                    <picture>
                        <source srcset="images/cases/cases2.webp 1x, images/cases/cases2@2x.webp 2x" type="image/webp" />
                        <source srcset="images/cases/cases2.jpg 1x, images/cases/cases2@2x.jpg 2x" type="image/jpeg" />
                        <img src="images/cases/cases2.jpg" alt="work process" />
                    </picture>
                </a>
            </li>
            <li class="cases__cards-item sixth-card">
                <a href="images/cases/cases4@2x.jpg">
                    <picture>
                        <source srcset="images/cases/cases4.webp 1x, images/cases/cases4@2x.webp 2x" type="image/webp" />
                        <source srcset="images/cases/cases4.jpg 1x, images/cases/cases4@2x.jpg 2x" type="image/jpeg" />
                        <img src="images/cases/cases4.jpg" alt="skyscraper" />
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>