<header>
  <div class="header__wrapper">
    <nav class="header__navigation">
      <a href="./index.html" class="header__logo">
        <svg width="40" height="35">
          <use href="./images/sprite.svg#icon-fa-solid_book-open"></use>
        </svg>
        <span class="header__logo-accent">Finance</span>
        <span>Ledger</span>
      </a>

      <ul class="navigation__list">
        <li class="navigation__list-item">
          <a href="#home" class="navigation__link">
            <span class="navigation__link-accent">Home</span>
          </a>
        </li>
        <li class="navigation__list-item">
          <a href="#about" class="navigation__link">
            <span class="navigation__link-accent">About</span>
          </a>
        </li>
        <li class="navigation__list-item">
          <a href="#cases" class="navigation__link">
            <span class="navigation__link-accent">Cases</span>
          </a>
        </li>
        <li class="navigation__list-item">
          <a href="#blog" class="navigation__link">
            <span class="navigation__link-accent">Blog</span>
          </a>
        </li>
        <li class="navigation__list-item">
          <a href="#contact" class="navigation__link">
            <span class="navigation__link-accent">Contact</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>